body {
    background-color: #faebd0;
}
h1 {
    text-align: center;
}
h3{
    text-align: center;
    text-decoration: overline;
}
h2 {
    text-align: center;
    color: red;

}
.chapter {
    color: blue;
    text-decoration: underline;
}

.box {

    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: green;
    padding: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin: 40px;
    vertical-align: ;
}

.red {

    vertical-align: ;
    background-color: red;
   

}

.example {
    
}

img {
    width: 300px;
    display: block;
    margin: 0 auto;
   

}

nav {
    
    top: 100px;
    bottom: 0px;


}

